* {
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

html,
body {
    height: 100pv;
    background: #FFFCFF;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 80px;
}

main {
    min-height: 80%;
    margin-top: 100px;
}

/* HEADER */

header i {
    color: white;
}

nav {
    background: #247BA0;
}

.nav-item {
    margin-right: 10px;
}

/*FOOTER*/

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #247BA0;
}

/* SIDERBAR */

.iconos {
    font-size: 30px;
}

.iconos i:hover {
    color: #CBD4C2;
}

.iconos .card-body a {
    text-decoration: none;
    color: black;
}


/* CARDS */

.likes_and_comments{
    font-size: 20px;
}

.profile_picture{
    border-radius: 50%;
}

.log {
    background: #FFFCFF;
    color: #50514F;
}

.login{
    background: #50514F;
    color: #FFFCFF;
}

.card-title:hover {
    color: rgb(141, 145, 137);
}

.card-body a {
    color: #247BA0;
}

.card-body .card_title_link {
    text-decoration: none;
    color: black;
}

.posts .card-body:hover {
    border: 2px solid #50514F;
}


@media only screen and (max-width: 600px){
    .log{
        width: 100%;
    }
}


/* ARTICLES */
.postdetail-jumbo{
    margin-top: -50px;
}

.heart-icon{
    color: black;
}

.newposticon, .newposticon:hover{
    color: black;
}
    /* CODE BLOCKS*/
    pre code {
        background-color: rgb(236, 241, 231);
        border: 1px solid #999;
        display: block;
        padding: 20px;
    }

    pre {
        white-space: pre-line;
    }

.jumbotron{
    background: #CBD4C2;
}


/* POST FORM*/
.posttext{
    min-height: 300px;
    border:1px solid rgb(204, 204, 204);
    border-radius: 5px;
    width: 100%;
}


.btn-save{
    background: #50514F;
    width: 300px;
    color: white;
}
@media (max-width:500px){
    .btn-save{
        width: 100%;
    }
}

/* COMMENTS */
.comment-textarea{
    width: 50%;
    height: 100px;
}

.btn-comments{
    background: #50514F;
    color: #ffffff;
    margin-left: 42%;
}

.media .buttons{
    margin-bottom: 10px;
}

@media (max-width: 600px){
    .comment-textarea{
        width: 100%;
    }

    .btn-comments{
        margin-left: 0;
        width: 100%;
    }
}

.twitter-share-button{
    text-align: center;
    background: #1dcaff;
    color: white;
    font-size: 10px;
}