
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-dot:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */