{% extends 'base.html' %}
{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron text-center"><h3 class="display-4">Spring Boot</h3></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque adipisci corporis laborum totam eius, nam dolor vitae non explicabo harum tempora voluptatem aliquid animi, possimus, vero delectus? Ipsam, non commodi!</p>
            <pre>
                <code>
                    function printName(){
                        console.log('Paul Miranda');
                    }
                </code>
            </pre>
        </div>
    </div>
</div>
{% endblock %}
